.fullsize {
    width: 100%;
    height: 100%;
    position: relative;
}

.fullsizeImage {
    /*width: 98%;
    height: 100%;*/
    width: 98vmin;
    height: 98vmin;
    position: relative;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-size: contain;*/
}

.form {
    /*margin: auto;
    width: 50%;*/
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    position: absolute;
    top: 50%;
}

.form.form-top {
    top: 10px;
    transform: translate(-50%, 0);
}

.menuForm {
    position: absolute;
    right: 10px;
    top: 10px;
}

.roomId {
    margin-top: 0;
}

#qrscanner {
    width: 98vw;
    height: 50vh;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
}

#scannerVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}